<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @table.restaurant %>
</p>

<p>
  <strong>Number:</strong>
  <%= @table.number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @table.password %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
