


<p id="notice"><%= notice %></p>

<div class = "container">
  <h1 align = "center">Restaurante Saborido</h1>  
  <table class = "table table-striped">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th colspan='2'>Lista de Desejo</th>
    </tr>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td>
            <%= link_to  "Adicionar", table_session_path %>
          </td>
        </tr>
    <% end %>
      <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Fechar Conta
        </a>
  </table>
</div>


